.callLocationCenter{
	text-align: center;
}
.visitDemo:hover{
	color: white !important;
	text-decoration: none !important;
}
.iconCenter{
	display: block;
	margin: auto;
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 47px;
}
.footerLink{
	text-decoration: none !important;
}
